<li id="comment-<%= comment._id %>">
  <p>
    <%= comment.content %>
    <br />
    <small id="comment-name"> -- by <%= comment.user.name %> </small>&ensp;&ensp;&ensp; <% if(locals.user &&
    (locals.user.id == comment.user.id)){ %>
    <small>
      <a class="delete-comment-button" href="/comments/destroy/<%= comment.id %>"
        ><i class="fas fa-times-circle"></i
      ></a>
    </small>
    <%}%>
    <!-- CHANGE :: display the likes of this comment, if the user is logged in, then show the link to toggle likes, else, just show the count -->
    <!-- study about the data attribute -->
    <br />
    <small>
      <% if (locals.user){ %>
      <a
        class="toggle-like-button"
        data-likes="<%= comment.likes.length %>"
        href="/likes/toggle/?id=<%=comment._id%>&type=Comment"
      >
        <%= comment.likes.length %> &ensp;&ensp;<i class="far fa-heart"></i>
      </a>
      <% }else{ %> <%= comment.likes.length %>&ensp;&ensp;<i class="far fa-heart"></i>
      <% } %>
    </small>
  </p>
</li>
